<div id="info-card">
  <div class="row box-title">
    <div class="col">
      <div class="title">
        <h4>{{ userInfo.name }}</h4>
      </div>
    </div>
  </div>
  <div class="row box-info">
    <div class="col">
      <div class="info">
        <h6>CPF: {{ userInfo.cpf }}</h6>
        <br />
        <h6>Endereço</h6>
        <h6>{{ userInfo.street }} Nº {{ userInfo.number }}</h6>
        <h6>{{ userInfo.comunity }} - {{ userInfo.city }} - {{ userInfo.state }}</h6>
      </div>
    </div>
  </div>
</div>