<div id="checkout-page" class="wrapper">
  <div class="container">
    <div class="row bottom-line">
      <div class="col-9 align-to-left">
        <h2 class="page-title">{{ page.name }}</h2>
      </div>
      <div class="col-3 align-to-right">
        <h2 class="page-title"><i class="fas fa-store"></i></h2>
      </div>
    </div>
    <div *ngIf="page.id == 1">
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="page.id == 2">
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="page.id == 0">
      <div class="row align-to-left">
        <div class="col">
          <div class="user-info">
            <div class="row">
              <div class="col">Nome do Comprador: {{userInfo.name}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-checkout-info></app-checkout-info>
        </div>
      </div>
      <div class="row align-to-right">
        <div class="col">
          <h4>ValorTotal: <span>{{ userSaleInfo.totalInfo }}</span></h4>
        </div>
      </div>
      <div class="btn-sect">
        <h6 class="page-info-text set-black-border">Como deseja pagar?</h6>
        <div class="row justify-content-end">
          <div class="col-4 no-padding">
            <button class="btn btn-default" (click)="goToCredit()">Credito</button>
          </div>
          <div class="col-4 no-padding">
            <button class="btn btn-default" (click)="goToTicket()">Boleto</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>