<div id="credit-page" *ngIf="hasFinish == 1">
  <router-outlet></router-outlet>
</div>
<div id="credit-page" *ngIf="hasFinish == 0">
  <div class="row">
    <div class="col">
      <form [formGroup]="creditForm">
        <div class="row">
          <div class="col-sm-12 col-md-5">
            <app-card [cardNumber]="checkout.cardNumber" [cardName]="checkout.cardName" [cardDate]="checkout.cardDate"
              [cardCvv]="checkout.cardCvv"></app-card>
          </div>
          <div class="col-sm-12 col-md-7">
            <div class="card-number-input-page input-sect" *ngIf="cardStep == 0">
              <div class="form-group">
                <label class="default-label">Numero do cartão</label>
                <input [(ngModel)]="checkout.cardNumber" formControlName="carNumber" type="tel"
                  class="form-control default-input" mask="0000-0000-0000-0000" placeholder="XXXX-XXXX-XXXX-XXXX"
                  (input)="checkBrand(checkout.cardNumber); cardNumberNextStep(checkout.cardNumber)">
                <div class="row" *ngIf="cardBrand === 'master'">
                  <div class="col">
                    <img src="../../../../assets/image/enabled_master.png">
                  </div>
                </div>
                <div class="row" *ngIf="cardBrand === 'visa'">
                  <div class="col">
                    <img src="../../../../assets/image/enabled_visa.png">
                  </div>
                </div>
                <div class="row" *ngIf="cardBrand === ''">
                  <div class="col">
                    <img src="../../../../assets/image/disabled_master.png">
                    <img src="../../../../assets/image/disabled_visa.png">
                  </div>
                </div>
                <div class="row justify-content-end buttons-sect">
                  <div class="col-4 no-padding">
                    <button class="btn btn-danger" (click)="cancel()">Cancelar</button>
                  </div>
                  <div class="col-4 no-padding">
                    <button class="btn btn-default" (click)="cardStep = 1">Próximo</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-name-input-page input-sect" *ngIf="cardStep == 1">
              <div class="form-group">
                <label class="default-label">Nome no cartão</label>
                <input [(ngModel)]="checkout.cardName" formControlName="cardName" type="text"
                  class="form-control default-input" placeholder="José Silva" (input)="toUpperCase(checkout.cardName)">
                <div class="row justify-content-end buttons-sect">
                  <div class="col-4 no-padding">
                    <button class="btn btn-default" (click)="cardStep = 0">Anterior</button>
                  </div>
                  <div class="col-4 no-padding">
                    <button class="btn btn-default" (click)="cardStep = 2">Próximo</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-date-input-page input-sect" *ngIf="cardStep == 2">
              <div class="form-group">
                <label class="default-label">Data de venc.</label>
                <input [(ngModel)]="checkout.cardDate" formControlName="cardDate" type="tel"
                  class="form-control default-input" mask="00/00" placeholder="MM/AA"
                  (input)="dateNextPage(checkout.cardDate)">
                <div class="row justify-content-end buttons-sect">
                  <div class="col-4 no-padding">
                    <button class="btn btn-default" (click)="cardStep = 1">Anterior</button>
                  </div>
                  <div class="col-4 no-padding">
                    <button class="btn btn-default" (click)="cardStep = 3">Próximo</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-cvv-input-page input-sect" *ngIf="cardStep == 3">
              <div class="form-group">
                <label class="default-label">CVV</label>
                <input [(ngModel)]="checkout.cardCvv" formControlName="cardCvv" type="tel"
                  class="form-control default-input" mask="000" placeholder="XXX">
                <div class="row justify-content-end buttons-sect">
                  <div class="col-4 no-padding">
                    <button class="btn btn-default" (click)="cardStep = 2">Anterior</button>
                  </div>
                  <div class="col-4 no-padding">
                    <button class="btn btn-default" (click)="cardStep = 4">Próximo</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="finish-page" *ngIf="cardStep == 4">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label>Parcelas:</label>
                    <select formControlName="formPlotsInput" class="form-control" #plotsInput (input)="getPlots(plotsInput.value)">
                      <option selected [value]="1">Parcelar em 1x</option>
                      <option [value]="2">Parcelar em 2x</option>
                      <option [value]="3">Parcelar em 3x</option>
                      <option [value]="4">Parcelar em 4x</option>
                      <option [value]="5">Parcelar em 5x</option>
                      <option [value]="6">Parcelar em 6x</option>
                      <option [value]="7">Parcelar em 7x</option>
                      <option [value]="8">Parcelar em 8x</option>
                      <option [value]="9">Parcelar em 9x</option>
                      <option [value]="10">Parcelar em 10x</option>
                      <option [value]="11">Parcelar em 11x</option>
                      <option [value]="12">Parcelar em 12x</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row bottom-line" (click)="showCostumerInfo = !showCostumerInfo">
                <div class="col-9 align-to-left">
                  <h5>Resumo da cobrança</h5>
                </div>
                <div class="col-3 align-to-right">
                  <i *ngIf="showCostumerInfo" class="fas fa-times"></i>
                  <i *ngIf="!showCostumerInfo" class="fas fa-plus"></i>
                </div>
              </div>
              <div *ngIf="showCostumerInfo">
                <app-checkout-info [plots]="plotsInput.value"></app-checkout-info>
              </div>
              <div class="btn-sect">
                <div class="row justify-content-end buttons-sect">
                  <div class="col-4 no-padding">
                    <button class="btn btn-default" (click)="cardStep = 3">Anterior</button>
                  </div>
                  <div class="col-4 no-padding">
                    <button [disabled]="!creditForm.valid" class="btn btn-default"
                      (click)="checkout.paymentMethod = 'Credito'; finish(checkout)">Finalizar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>