<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Produto</th>
          <th scope="col">Valor unidade</th>
        </tr>
      </thead>
      <tbody *ngFor="let product of storeCart; let i = index">
        <tr>
          <th scope="row">{{ i+1 }}</th>
          <td>
            {{ product.unities }}x</td>
          <td>{{ product.productName }}</td>
          <td>R$ {{ product.price | number: '1.2-3' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row align-to-right">
  <div class="col">
    <h4>ValorTotal: <span>R$ {{ total | number: '1.2-3'}}</span></h4>
  </div>
</div>