<div class="card-sect">
  <div class="card-structure">
    <div class="container">
      <div class="card-name align-to-left">
        <h4>
          <i class="fas fa-university"></i>
        </h4>
      </div>
      <div class="card-info">
        <div class="row">
          <div class="col-9 align-to-left">
            <span class="little-text">
              Numero do Cartão
            </span>
            <br>
            <span *ngIf="!cardNumber">
              <span class="little-text">
                XXXX-XXXX-XXXX-XXXX
              </span>
            </span>
            <span *ngIf="cardNumber">
              <span class="little-text">
                {{cardNumber | mask:'0000-0000-0000-0000'}}
              </span>
            </span>
          </div>
          <div class="col-3 align-to-right">
            <div class="chip">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 align-to-left">
            <span class="little-text">
              Nome no cartão
            </span>
            <br>
            <span *ngIf="!cardName">
              <span class="little-text">
                José Silva
              </span>
            </span>
            <span *ngIf="cardName">
              <span class="little-text">
                {{cardName}}
              </span>
            </span>
          </div>
          <div class="col-4 align-to-left">
            <span class="little-text">
              Data venc.
            </span>
            <br>
            <span *ngIf="!cardDate">
              <span class="little-text">
                MM/AA
              </span>
            </span>
            <span *ngIf="cardDate">
              <span class="little-text">
                {{cardDate | mask: '00/00'}}
              </span>
            </span>
          </div>
          <div class="col-2 align-to-right">
            <span class="little-text">
              CVV
            </span>
            <br>
            <span *ngIf="!cardCvv">
              <span class="little-text">
                XXX
              </span>
            </span>
            <span *ngIf="cardCvv">
              <span class="little-text">
                {{cardCvv}}
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>