@import './common_colors';

@media (max-width: 600px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 600px) {
    .mobile {
        display: none
    }
}


.wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: $default-black;
}

.bottom-line {
    border-bottom: 1px solid $default-orange;
}

.align-to-center {
    text-align: center;
}

.align-to-right {
    text-align: right;
}

.align-to-left {
    text-align: left;
}

.no-padding {
    padding-right: 0;
}

.page-title {
    margin-bottom: 1rem;
}

.page-info-text {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.set-black-border {
    border-bottom: 1px solid $default-black
}

.btn-sect {
    padding-top: 2rem;
    text-align: right;
}

#info-card {
    margin-top: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 2rem;
}

.box-title {
    background-color: $default-orange;
    color: $default-white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top-right-radius: 1rem;
}

.box-info {
    border: solid 1px $default-orange;
    padding: 0.5rem;
    border-bottom-left-radius: 1rem;
}

.little-text {
    font-size: 0.8rem
}

.buttons-sect {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.info-line {
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-top: solid 1px $default-black;
    border-bottom: solid 1px $default-black;
}

.info-line-text {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}